/*
Algoritimo  : Atividade de CSS Externo - HTML
Disciplina  : [Desenvolvimento de Sistemas]
Professor   : Antonio Tupinamba e Leandro Grosso
Descrição   : CSS externo da atividade "atividade_css_externo.html"
Autor(a)    : Vitor Geraldo Cecato
Data atual  : 01/08/2024
*/
body {
    background-color: red;
}

h1 {
    text-align: center;
    font-family: Arial;
    border: 2px solid white;
}

h2 {
    font-family: Verdana;
    border: 2px solid;
}

h3 {
    font-family: Courier;
    border: 2px solid white;
}

p {
    font-family: Arial;
    font-size: 15px;
}

ul {
    font-size: 130%;
}

dl {
    color: white;
}