* {
    text-align: center;
}

body {
    background-color: bisque
}

header {
    background-color: aquamarine;
    padding: 20px;
    border: 2px solid black;
    width: 30%;
    margin: auto;
}

